
# environment
.env
.env.dev

# inserts fake portfolio prices for new users
stockInsertTest.js


# unit tests
date1.test.js
date1.js
addZero.js
addZero.test.js
mongoAdd.test.js
mongoDelete.test.js

#folders
devTest